@model Recipes.WebApi.Recipes.Model.Recipes.Custom.RecipeCustomModel;

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int height;
}

<!-- ========== MAIN ========== -->
<main id="content" role="main" class="main">
    @{
        var userId = @User.FindFirst("UserID").Value;
        var createdDate = DateTime.Now;
    }
    <partial name="_LayoutHeader" view-data='@new ViewDataDictionary(ViewData) { { "HeadingDetails", "Recipes" }, { "HeadingSubTittle", "Recipe" }, { "HeadingSubDetails", "Create" }, { "btnIcon", "fal fa-user-tag" }}' />

    <!-- End Breadcrumb Section -->
    <!-- Content Section -->
    <div class="content container-fluid my-n9">
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>
                    @Model.ErrorMessage

                </strong>

            </div>
        }
        <form class="js-validate" enctype="multipart/form-data" method="post" asp-action="Create" asp-controller="Recipe">
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title">Recipe </p>
                </div>
                <div class="card-body">
                    <!-- Input -->

                    <div class="row form-group">

                        <label class="col-sm-3 col-form-label input-label">Recipe Name <span class="fas text-danger fa-lg mr-1">*</span></label>
                        <div class="col-sm-4 js-form-message mb-3">
                            <input id="RecipeNameTextBox" type="text" class="form-control stringValidation" required
                                   data-msg="Please enter a Recipe Name." placeholder="RecipeName" aria-label="Current Value" asp-for="@Model.Recipe.Name">
                        </div>
                    </div>

                    <div class="row form-group">

                        <label class="col-sm-3 col-form-label input-label">Recipe Create Date <span class="fas text-danger fa-lg mr-1">*</span></label>
                        <div class="col-sm-4 js-form-message mb-3">
                            <!-- Flatpickr -->
                            <input type="text" class="js-flatpickr form-control flatpickr-custom" required placeholder="Select dates" asp-for="@Model.Recipe.CreatedOn"
                                   data-hs-flatpickr-options='{
                                                "dateFormat": "Y/m/d"
                                            }'>
                            <!-- End Flatpickr -->
                        </div>

                    </div>


                    <div class="row form-group">

                        <label class="col-sm-3 col-form-label input-label">Ingredient Description <span class="fas text-danger fa-lg mr-1">*</span></label>
                        <div class="col-sm-4 js-form-message mb-3">
                            <input id="IngredientDescriptionTextBox" type="text" class="form-control stringValidation" required
                                   data-msg="Please enter Ingredient Description." placeholder="IngredientDescription" aria-label="Current Value" asp-for="@Model.Ingredient.Description">
                        </div>

                    </div>

                    <div class="row form-group">
                        <label class="col-sm-3 col-form-label input-label">Recipe Image <span class="fas text-danger fa-lg mr-1">*</span></label>
                        <div class="col-sm-4 js-form-message mb-3">
                            <div class="d-flex align-items-center">
                                <!-- Avatar -->
                                <label class="avatar avatar-xl avatar-circle avatar-uploader mr-5" for="avatarUploader">
                                    <img id="avatarImg" class="avatar-img" src="~/front-dashboard-v1.1/dist/assets/img/160x160/img1.jpg" alt="Image Description">

                                    <input type="file"  name="files" class="js-file-attach avatar-uploader-input" id="avatarUploader" asp-for="@Model.Image.ImageData" required
                                           data-hs-file-attach-options='{
                                            "textTarget": "#avatarImg",
                                            "mode": "image",
                                            "targetAttr": "src",
                                            "resetTarget": ".js-file-attach-reset-img",
                                            "resetImg": "~/front-dashboard-v1.1/dist/assets/img/160x160/img1.jpg",
                                            "allowTypes": [".png", ".jpeg", ".jpg"]
                                         }'>

                                    <span class="avatar-uploader-trigger">
                                        <i class="tio-edit avatar-uploader-icon shadow-soft"></i>
                                    </span>
                                </label>
                                <!-- End Avatar -->

                                <button type="button" class="js-file-attach-reset-img btn btn-white">Delete</button>

                            </div>
                        </div>



                    </div>
                    <!-- Footer -->


                    <div class="card-footer">
                        <div class="d-flex justify-content-center align-content-end">
                            <a class="btn btn-white " href="@Url.Action("Recipes", "Recipe")">Cancel</a>
                            <input type="submit" value="Save" class="btn btn-primary ml-2" id="btnSave" />


                        </div>

                    </div>


                    <!-- End Footer -->
                    <input type="hidden" asp-for="@Model.Recipe.CreateByUserID" value="@userId" />
                    <input type="hidden" asp-for="@Model.Recipe.CreatedOn" value="@createdDate" />
                    <input type="hidden" asp-for="@Model.Ingredient.CreatedOn" value="@createdDate" />
                    <input type="hidden" asp-for="@Model.Ingredient.CreateByUserID" value="@userId" />

                </div>
            </div>
        </form>
    </div>
    <!-- End Content Section -->
</main>
@section scripts {
    <!-- JS Plugins Init. -->
    <script src="~/front-dashboard-v1.1/dist/assets/vendor/hs-file-attach/dist/hs-file-attach.min.js"></script>
    <script src="~/front-dashboard-v1.1/dist/assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
    <script src="~/front-dashboard-v1.1/src/assets/js/hs.flatpickr.js"></script>
    <script>
        $(document).on('ready', function () {
            // INITIALIZATION OF CUSTOM FILE
            // =======================================================
            $('.js-file-attach').each(function () {
                var customFile = new HSFileAttach($(this)).init();
            });
        });
    </script>


}
